:host {
  max-width: 840px;
  margin: 0 auto;
  padding: 32px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  background-image: url("/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 0 32px;
}

h1 {
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px rgba($color: #000000, $alpha: 0.86);
  text-shadow: 3px 3px rgba($color: #000000, $alpha: 0.86);
  margin: unset;
  font-size: 32px;

  .channel-name {
    font-size: 16px;
    text-shadow: 2px 2px rgba($color: #000000, $alpha: 0.86);
  }
}

main {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  background-color: #fec803;
  padding: 16px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    margin: unset;
  }
}
